<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Eclectic Coding</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  </head>
  <body class="site-layout">
    <nav class="navbar" role="navigation" aria-label="Main Navigation">
      <div class="navbar__container">
        <h1 class="logo">EclecticCoding</h1>
      </div>
    </nav>
    <main class="container content">
      {{ content | safe }}
    </main>
    <footer>
      footer
    </footer>
  </body>
</html>
