{%- set pageTitle %}{{ title + " | " if title }}{{ meta.siteName }}{% endset -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  </head>
  <body class="site-layout">
    <nav class="navbar" role="navigation" aria-label="Main Navigation">
      <div class="navbar__container">
        <a href="/" class="navbar__container--logo">
          <h1>EclecticCoding</h1>
        </a>

        <!-- btn-group -->
        <div class="navbar__container__btn-group">
          <!-- Add dark mode toggle selector -->
          <div id="mobile-nav-container">
            <div class="mobile-nav__btn active">
              <button id="mobile-menu" class="mobile-nav__btn" aria-label="Menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16"
                     focusable="false" aria-hidden="true">
                  <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- Start desktop menu -->
        <div class="navbar__nav-wrapper">
          <ul class="navbar__links" role="list">
            <li role="listitem"><a href="/">Home</a></li>
            <li role="listitem"><a href="#">Articles</a></li>
            <li role="listitem"><a href="#">Contact</a></li>
          </ul>

          <!-- add dark mode toggle -->
        </div>

        <!-- Start mobile menu -->
        <div class="mobile-nav">

          <!-- Close menu button -->
          <button id="mobile-menu" class="mobile-nav__btn-close" aria-label="Close menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                 viewBox="0 0 16 16" focusable="false" aria-hidden="true">
              <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>

          <!-- mobile menu -->
          <div class="mobile-nav__menu">
            <ul class="wrapper__links" role="list">
              <li role="listitem"><a href="/">Home</a></li>
              <li role="listitem"><a href="#">Articles</a></li>
              <li role="listitem"><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main class="container content">
      {{ content | safe }}
    </main>
    <footer>
      <div class="row container__fluid text-align-center mx-auto">
        <p>
          <a href="https://www.eclecticcoding.com">EclecticCoding.com</a>
          &copy; 2022 <a href="mailto:me@eclecticcoding.com">Chuck Smith</a>
        </p>
        <span class="social--icons">
          <a href="https://dev.to/eclecticcoding" aria-label="Dev profile">
            <img src="/images/dev.svg" alt="Dev profile" width="24px" height="24px">
          </a>
          <a href="https://github.com/eclectic-coding/" aria-label="GitHib profile">
            <img src="/images/github.svg" alt="GitHib profile" width="24px" height="24px">
          </a>
          <a href="https://www.linkedin.com/in/dev-chuck-smith/" aria-label="LinkedIn profile">
            <img src="/images/linkedin.svg" alt="LinkedIn profile" width="24px" height="24px">
          </a>
          <a href="https://twitter.com/EclecticCoding" aria-label="Twitter profile">
            <img src="/images/twitter.svg" alt="Twitter profile" width="24px" height="24px">
          </a>
        </span>
      </div>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
