/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/colors.js
 */

$color-primary: hsl(272,53%,66%) !default;
$color-on-primary: hsl(271.4, 42.3%, 20.4%) !default;
$color-secondary: hsl(310,55%,62%) !default;
$color-on-secondary: hsl(309.4, 54.8%, 18.2%) !default;
$color-background: hsl(209,85%,11%) !default;
$color-on-background: hsl(208.70000000000005, 27.6%, 52.4%) !default;

$base-color-tokens: ("primary", "secondary", "background");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-background": $color-background,
  "color-on-background": $color-on-background
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-background: #{$color-background};
  --color-on-background: #{$color-on-background};
}