/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/colors.js
 */

$color-background: hsl(0, 0%, 100%) !default;
$color-on-background: rgb(118, 118, 118) !default;
$color-background-body: hsl(0, 0%, 97%) !default;
$color-on-background-body: hsl(218, 23%, 23%) !default;
$color-primary: hsl(250,78%,63%) !default;
$color-on-primary: hsl(255, 100%, 97.6%) !default;
$color-secondary: hsl(216, 15%, 52%) !default;
$color-on-secondary: hsl(215, 24%, 9.8%) !default;

$base-color-tokens: ("background", "background-body", "primary", "secondary");

$color-tokens: (
  "color-background": $color-background,
  "color-on-background": $color-on-background,
  "color-background-body": $color-background-body,
  "color-on-background-body": $color-on-background-body,
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary
) !default;

@mixin color-tokens() {
  --color-background: #{$color-background};
  --color-on-background: #{$color-on-background};
  --color-background-body: #{$color-background-body};
  --color-on-background-body: #{$color-on-background-body};
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
}