@use "color-tokens" as *;

$color-links: "var(--color-primary)" !default;
$color-grey-hue: $color-primary !default;
$color-background-body: $color-background !default;
$color-grey-hue: hue($color-grey-hue);
$font-family: 'Baloo 2' !default;
$font-weight-bold: 700 !default;
$accent: hsl(250, 78%, 63%);

:root {
  @include color-tokens;

  --color-links: #{$color-links};
  --grey-medium: hsl(#{$color-grey-hue}, 15%, 50%);
  --grey-light: hsl(#{$color-grey-hue}, 20%, 85%);
  --background-body: #{$color-background-body};
  --font-family: #{$font-family};
  --font-weight-bold: #{$font-weight-bold};
  --background: #{$color-background};
  --accent: #{$accent}
}

body {
  background-color: var(--background-body);
  color: var(--color-on-background-body);
  font-family: $font-family;
  caret-color: transparent;
}
