<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
  <head>
    {% include "partials/_basehead.html" %}
  </head>

  <body class="site-layout">
    {% include "partials/_navbar.html" %}
    <main class="container content">
      {{ content | safe }}
    </main>

    {% include "partials/_footer.html" %}

    <script src="js/script.js"></script>
  </body>
</html>
