<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    {% include "partials/_basehead.html" %}
</head>

<body class="site-layout">
{% include "partials/_navbar.html" %}

{% if page.url === '/' %}
    {% include "partials/_hero.html" %}
{% endif %}

<main class="container content">
    {{ content | safe }}
</main>

{% include "partials/_footer.html" %}

<script src="js/script.js"></script>
</body>
</html>
