// img class could move to reset
img[width] {
  height: auto;
}

.image {
  aspect-ratio: var(--image-aspect-ratio);
  max-height: var(--image-max-height);
  object-fit: cover;

  &--fullwidth {
    width: 100%;
  }

}
