.container {
  width: min(var(--container-width, 80ch), 100vw - 3rem);
  margin-right: auto;
  margin-left: auto;

  &__fluid {
    width: min(var(--container-width, 120ch), 100vw - 3rem);
  }
}

.site-layout {
  display: grid;
  grid-template-areas:
          "nav"
          "main"
          "footer";
  grid-auto-rows: auto 1fr auto;

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
  }
}
