.container {
  width: min(var(--container-width, 80ch), 100vw - 3rem);
  margin-right: auto;
  margin-left: auto;

  &__fluid {
    width: min(var(--container-width, 120ch), 100vw - 3rem);
  }
}

.text-align-center {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

section,
.section {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.section-padded {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.layout-flex {
  --gap: 2rem;
  --wrap: wrap;

  display: flex;
  flex-wrap: var(--wrap);
  gap: var(--gap);
}

.inclusively-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.site-layout {
  display: grid;
  grid-template-areas:
          "nav"
          "main"
          "footer";
  grid-auto-rows: auto 1fr auto;

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
  }
}
