.text-align-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
