.article {
  margin: 3rem 0;
  padding: 2rem;
  border-radius: 0.60rem;
  background-color: var(--color-background);
  font-size: 1.15rem;
  line-height: 1.75;

  h2 {
    color: var(--color-primary);
    text-align: center;
  }
}
