.article-card {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  background: var(--background);
  box-shadow: 0 0.25rem 0.45rem -0.15rem hsla(0, 0%, 0%, 0.1);
}

.header__posts {
  margin-top: 2rem;
  padding-left: 1.5rem;
  border-left: 4px solid var(--grey-light);
  color: black;
}
