header {
  display: grid;
  grid-template-areas: "hero";
  align-items: center;
  height: 65vh;
  max-height: 600px;
  background-color: white;

  > * {
    grid-area: hero;
  }

  .hero__content {
    z-index: 1;
    min-width: 30ch;
    max-width: 35%;
    margin: 1rem 0 1rem 5%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 1rem;
    background-color: white;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 3rem;
      font-weight: 500;

      span {
        color: var(--color-primary);
        font-weight: bold;
      }
    }

    h2 {
      margin: 0;
    }

    p {
      color: var(--color-on-background);
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  img {
    justify-self: end;
    width: 80%;
    height: min(65vh, 600px);
    transition: 180ms width ease-in;
    object-fit: cover;
    object-position: 5vw -5vmin;

    @media (min-width: 60rem) {
      width: 60%;
    }
  }
}

