header {
  display: grid;
  grid-template-areas: "hero";
  align-items: center;
  height: 65vh;
  max-height: 600px;
  background-color: white;

  > * {
    grid-area: hero;
  }

  .hero__content {
    min-width: 30ch;
    max-width: 35%;
    margin: 1rem 0 1rem 5%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 1rem;
    background-color: white;
    z-index: 1;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 3rem;
      font-weight: 500;

      span {
        color: var(--color-primary);
        font-weight: bold;
      }
    }

    h2 {
      margin: 0;
    }

    p {
      color: var(--color-on-background);
      font-size: 1.3rem;
      font-weight: bold;
    }

    @media (min-width: 70rem) {
      min-width: 30ch;
      max-width: 50%;
    }

    @media (max-width: 60rem) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 100%;
      margin: 1rem auto;
    }
  }

  img {
    justify-self: end;
    width: 250px;
    height: 250px;
    margin-right: 10rem;
    object-fit: contain;

    @media (max-width: 60rem) {
      display: none;
    }
  }
}

