.navbar {
  padding: 2em 0;
  background-color: var(--background);

  &__container {
    display: flex;
    justify-content: space-between;
    width: min(var(--container-width, 100ch), 100vw - 3rem);
    margin-right: auto;
    margin-left: auto;

    &--logo {
      margin-bottom: 0;
      color: var(--color-primary);
      text-decoration: none;

      h1 {
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  &__nav-wrapper {
    display: flex;
    gap: 2rem;
  }

  &__links {
    display: flex;
    gap: 1rem;

    li a {
      transition: 0.5s ease-out;
      color: var(--color-on-background);
      font-size: 1.15rem;
      font-weight: bold;

      &:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }
  }

}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .pagination__item {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--background);
    color: var(--color-primary);
    text-decoration: none;
    box-shadow: 0 0.25rem 0.45rem -0.15rem hsla(0, 0%, 0%, 0.1);

    &--disabled {
      padding: 0.5rem;
      border-radius: 0.25rem;
      background-color: var(--background);
      color: var(--grey-medium);
      cursor: not-allowed;
      box-shadow: 0 0.25rem 0.45rem -0.15rem hsla(0, 0%, 0%, 0.1);
    }
  }
}

