.navbar {
  padding: 2em 0;

  &__container {
    display: flex;
    justify-content: center;
    width: min(var(--container-width, 100ch), 100vw - 3rem);
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    margin-bottom: 0;
    color: var(--color-primary);
    font-size: 2rem;
    font-style: bold;
  }
}
