---
layout: base.njk
templateEngineOverride: md, njk
pagination:
  data: collections.articles
  size: 6
  alias: articleList
  reverse: true
---

<h2 class="section__header">Latest Blog Posts</h2>

{%- for article in articleList -%}
  <article class="article-card">
    <h2><a href="{{ article.url }}">{{ article.data.title }}</a></h2>
    <p>{{ article.data.date }}</p>
    <p class="content">{{ article.templateContent | excerpt }}</p>
  </article>
{%- endfor -%}

{% if pagination.pageLinks.length > 1 %}
  <nav id="my-pagination" class="pagination" aria-labelledby="my-pagination">
    {%- if pagination.previousPageLink -%}
      <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
    {%- else -%}
      <span class="pagination__item">Previous</span>
    {%- endif -%}

    {%- if pagination.nextPageLink -%}
      <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older Articles</a>
    {%- else -%}
      <span class="pagination__item">Next</span>
    {%- endif -%}
  </nav>
{% endif %}

