---
layout: base.njk
templateEngineOverride: md, njk
pagination:
  data: collections.articles
  size: 6
  alias: articleList
  reverse: true
---

<h2 class="section__header">Latest Blog Posts</h2>

{%- for article in articleList -%}
  <a href="{{ article.url }}" class="anchor-card">
    <article class="article-card">
      <div class="article-card__content">
        <div class="article-card__banner">
          {%- if article.data.cover_image -%}
            <img src="{{ article.data.cover_image }}" alt="" class="article-card__img">
          {%- else -%}
            <img src="/images/rails.jpg" alt="" class="article-card__img">
          {%- endif -%}
        </div>
        <div>
          {%- for category in article.data.categories -%}
          <button class="article-card__tags">
            {{ category }}
          </button>
          {%- endfor -%}
          <h3>{{ article.data.title }}</h3>
          <p class="article-card__body">{{ article.templateContent | excerpt }}</p>
          <div class="article-card__meta">
            <div class="article-card__author">{{ meta.authorName }}</div>
            <time datetime="{{ article.data.date }}">{{ article.data.date.toDateString() }}</time>
          </div>
        </div>
      </div>
    </article>
  </a>
{%- endfor -%}

{% if pagination.pageLinks.length > 1 %}
  <nav id="my-pagination" class="pagination" aria-labelledby="my-pagination">
    {%- if pagination.previousPageLink -%}
      <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
    {%- else -%}
      <span class="pagination__item--disabled">Previous</span>
    {%- endif -%}

    {%- if pagination.nextPageLink -%}
      <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older Articles</a>
    {%- else -%}
      <span class="pagination__item">Next</span>
    {%- endif -%}
  </nav>
{% endif %}

