<article class="article-card">
    <div class="article-card__content">
        <div class="article-card__banner">
            <a href="{{ article.url }}" class="anchor-card">
                {%- if article.data.cover_image -%}
                <img src="{{ article.data.cover_image }}" alt="{{ article.data.title }}" class="article-card__img"
                     loading="lazy">
                {%- else -%}
                <img src="/images/rails.webp" alt="" class="article-card__img">
                {%- endif -%}
            </a>
        </div>
        <div>
            {%- for tag in article.data.tags | filterTagList -%}
                {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                {%- set label %}Articles from the tag{{ tag }}{% endset %}
                {% TagButton link=tagUrl, linkText=tag, ariaText=label, tagCloud=false %}
            {%- endfor -%}
            <h2>{{ article.data.title }}</h2>
            <p class="article-card__body">{{ article.templateContent | excerpt }}</p>
            <div class="article-card__meta">
                <div class="article-card__author">{{ meta.authorName }}</div>
                <time datetime="{{ article.data.date }}">{{ article.data.date | readableDate }}</time>
            </div>
        </div>
    </div>
</article>
