<footer>
  <div class="row container__fluid text-align-center mx-auto">
    <p>
      <a href="https://www.eclecticcoding.com">EclecticCoding.com</a>
      &copy; 2022 <a href="mailto:me@eclecticcoding.com">Chuck Smith</a>
    </p>
    <span class="social--icons">
          <a href="https://dev.to/eclecticcoding" aria-label="Dev profile">
            <img src="/images/dev.svg" alt="Dev profile" width="24px" height="24px">
          </a>
          <a href="https://github.com/eclectic-coding/" aria-label="GitHib profile">
            <img src="/images/github.svg" alt="GitHib profile" width="24px" height="24px">
          </a>
          <a href="https://www.linkedin.com/in/dev-chuck-smith/" aria-label="LinkedIn profile">
            <img src="/images/linkedin.svg" alt="LinkedIn profile" width="24px" height="24px">
          </a>
          <a href="https://twitter.com/EclecticCoding" aria-label="Twitter profile">
            <img src="/images/twitter.svg" alt="Twitter profile" width="24px" height="24px">
          </a>
        </span>
  </div>
</footer>
